.full-contents{
    width: 900px;
    height: 700px;
    margin:auto;
    margin-top: 10px;
    padding-top: 10px;
    border: black ridge;

}
.card{
    width:700px;
    height:250px;
    margin:auto;
    border: black ridge;
    background-image: url(https://www.kgc.co.kr/upload//upload_file/product/2017/11/09/340x3051.jpg);
    background-size: 100% 100%;
}
.small-contents{
    width: 750px;
    padding-top: 10px;
    margin: auto;
}
.small-contents2{
    width: 750px;
    margin: auto;
}
.medium-contents{
     width: 750px;
    height:270px;
    padding-top: 10px;
    margin: auto;
}
.text{
    display: inline-block;
    vertical-align: center;
    text-align: center;
    margin-left: 10px;
}
.small-box{
     margin-left: 10px;
}
.card-text2{
    color: blue;
}